body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lucida Sans', sans-serif;
    background-color: rgb(243, 243, 243);
}
.main--container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
ul{
    list-style: none;
}
#header{
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 243);
    height: 5em;
    z-index: 9;
}
#header img{
    margin: 0 0 0 2em;
    padding: 0;
    width: 15em;
}
#nav-bar{
    margin: 0 5em 0 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    grid-gap: 5em;
}
#nav-bar a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}
.main--container{
    margin: 5em 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
form{
    margin: 0 auto;
    padding: 0;
}
form h1{
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}
form input{
    display: block;
    margin: 1em auto;
    padding: 0;
}
form input:nth-child(2){
    width: 20em;
    text-indent: .5em;
    padding: .2em 0;
}
form input[type="submit"]{
    border: none;
    background-color: rgb(253, 195, 36);
    font-size: 1em;
    font-weight: bold;
    padding: .3em .5em;
    text-transform: uppercase;
    border-radius: 2px;
}
form input[type="submit"]:hover,
.card-content li button:hover{
    cursor: pointer;
    background-color: rgb(243, 159, 4);
    transition: background-color 1s ease-out 100ms;
}
.feature-content{
    margin: 5em 0;
    padding: 0;
    width: 100%;
    max-width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    grid-row-gap: 5em;
    align-self: center;
}
.feature-content li{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.feature-content li img{
    width: 3.5em;
    height: 3.5em;
    position: absolute;
}
.feature-content li h2{
    margin: 0 0 0 5.5em;
    font-size: 1.4em;
}
.feature-content li p{
    margin: 0 0 0 8.5em;
    font-size: .9em;
}
.video-source{
    margin: 0 auto;
    padding: 0;
}
iframe{
    border: 0;
}
.card-content{
    margin: 3em 0;
    padding: 0;
    display: flex;
    justify-content: center;
    grid-column-gap: 2em;
}
.card-content li{
    margin: 0;
    padding: 0;
    width: 17em;
    height: auto;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
.card-content li *{
    text-align: center;
}
.card-content li h3{
    margin: 0;
    padding: 1em 0;
    background-color: rgb(231, 231, 231);
    text-transform: uppercase;
    font-size: 1em;
}
.card-content span{
    margin: .5em 0;
    font-size: 1.5em;
    font-weight: 600;
}
.card-content p{
    margin: .5em 0 0 0;
    padding: 0;
    font-size: .9em;
}
.card-content button{
    margin: 1.5em 0;
    padding: .3em 1em;
    align-self: center;
    border: none;
    font-size: 1.2em;
    background-color: rgb(253, 195, 36);
    border-radius: 2px;
}
footer{
    margin: 0 auto;
    padding: 1.5em 0;
    width: 100%;
    max-width: 75%;
    background-color: rgb(231, 231, 231);
    text-align: right;
}
footer ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}
footer ul li{
    margin: 0 1.2em 0 0;
}
footer ul li a{
    text-decoration: none;
    color: black;
}
footer small{
    margin: 0 1em 0 0;
    padding: 0;
}

@media only screen and (max-width:1000px){
    #header{
        flex-direction: column;
        height: auto;
    }
    #header img{
        margin: 1em 0 0 0;
        width: 20em;
    }
    #nav-bar{
        margin: 1em 0 0 0;
        grid-gap: .5em;
        flex-direction: column;
        align-items: center;
    }
    .main--container{
        margin: 10em 0 0 0;
    }
    form{
        text-align: center;
    }
    .feature-content{
        max-width: 100%;
    }
    .feature-content li{
        align-items: center;
        text-align: center;
    }
    .feature-content li img{
        display: none;
    }
    .feature-content li h2{
        margin: 0;
    }
    .feature-content li p{
        font-size: 1em;
        margin: 0;
    }
    .video-source{
        margin: 0;
    }
    iframe{
        width: 100%;
    }
    .card-content{
        flex-direction: column;
        grid-column-gap: 0;
        grid-row-gap: 1em;
        align-items: center;
    }
    .card-content li{
        width: 85%;
    }
    .card-content p{
        font-size: 1em;
    }
    footer{
        max-width:  100%;
    }
}
